/* сброс */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}/*фоновые цвета в секциях*/
.hero {
    background-color: #2F303A;
}
.team-masters {
    background-color: #F5F4FA;
}
.modal {
    background-color: #2196F3;
}
.footer-studio {
    background-color: #2F303A;
}

.footer-portfolio {
    background-color: #2F303A;
}
.modal {
    background-color: #F5F4FA;
}
.modal-studio {
    background-color: #F5F4FA;
}
.list-masters {
    background-color: #FFFFFF;
}
/*цвета ссылок/кнопок при наведении, при фокусе*/
.link-studia:hover,
.link-studia:focus {
    color: #2196F3;
}

.link-portfolio:hover,
.link-portfolio:focus {
    color: #2196F3;
}

.link-contact:hover,
.link-contact:focus {
    color: #2196F3;
}

.mail:hover,
.mail:focus {
    color: #2196F3;
}

.link-header-tel:hover,
.link-header-tel:focus {
    color: #2196F3;
}

.footer-link-mail:hover,
.footer-link-mail:focus {
    color: #2196F3;
}

.footer-link-tel:hover,
.footer-link-tel:focus {
    color: #2196F3;
}

.link-adress:hover,
.link-adress:focus {
    color: #2196F3;
}

.button-portfolio:hover,
.button-portfolio:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}
.modal-studio:hover,
.modal-studio:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}
/* цвета текстов*/
.caption {
    color: #212121;
}

.link-adress {
    color: #FFFFFF;
}
.link-studia {
    color: #212121;
}

.link-portfolio {
    color: #212121;
}

.link-contact {
    color: #212121;
}

.mail {
    color: #757575;
}

.link-header-tel {
    color: #757575;
}

p {
    color: #757575;
}
/* стилизация шрифтов  студии + общих с портфолио*/
.site-nav {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.header-contact {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.main-text {
    font-family: 'Roboto';
}
.main-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.caption-studia {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.caption {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}
.subject {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
.desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
.link-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
.footer-link-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-link-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* стилизация шрифтов портфолио*/
.modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}
.caption-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}
.features {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
.accent {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}